{% extends "base.html" %}
{% load static %}
{% block content2 %}
<section class="about-section text-center" id="register">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <div class="col-md-10 col-lg-4 mx-auto text-center">
                    <h3 class="text-white mb-3">Password changed!</h3>
                </div>
                <div class="row input-group-newsletter">
                    <div class="col mb-3 mt-3">
                        <a class="btn btn-primary" href="{% url 'index' %}#login">Login</a>
                    </div>
                </div>
                <div class="w-150">
                    <img class="img-fluid" src="{% static 'assets/img/solar3.png' %}" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
