{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content2 %}
<section class="about-section text-center" id="register">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <div class="col-md-10 col-lg-4 mx-auto text-center">
                    {% if validlink %}
                    <h5 class="text-white mb-3">Enter new password and repeat it:</h5>
                        <form method="post" class="form-signup">
                        {% csrf_token %}
                        {{ form.new_password1.errors }}
                         <div class="row input-group-newsletter">
                            <div class="col">
                                {{ form.new_password1|add_place_holder:"Enter new password"|add_class:"form-control mb-3" }}
                            </div>
                        </div>
                        <div class="row input-group-newsletter">
                            <div class="col">
                                {{ form.new_password2|add_place_holder:"Repeat password"|add_class:"form-control mb-3" }}
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <div class="row input-group-newsletter">
                            <div class="col mb-3">
                                <input class="btn btn-primary" type="submit" value="Change password" />
                            </div>
                        </div>
                        {% else %}
                            <h1>Something wrong, password not changed</h1>
                            <p>Password change link not working anymore, try reset one more time.</p>
                        {% endif %}
                        </form>
                </div>
                <div class="w-150">
                    <img class="img-fluid" src="{% static 'assets/img/solar3.png' %}" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

