{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content3 %}
<section class="about-section text-center" id="start">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <h5 class="text-red mb-1 text-center">Enter new default values for users</h5>
            <style>
                table {
                    width:90%;
                    border:1px solid #e44e4e;
                    border-collapse:collapse;
                    padding:1px;
                    font-size: 12px;
                }
                table th {
                    border:1px solid #e44e4e;
                    padding:1px;
                    color: #ffffff;
                    font-size: 12px;
                }
                table td {
                    border:1px solid #e44e4e;
                    text-align:center;
                    padding:1px;
                    color: #ffffff;
                    font-size: 12px;
                }
            </style>
                <table>
                    <thead>
                        <tr>
                            <th>Date of VERT plans</th>
                            <th>Plan for kWh <br> (1 kWh price)</th>
                            <th>Plan for kW <br> (1 kW monthly price)</th>
                            <th>Plan percent of kWh</th>
                            <th>kWh price to buy <br>(supplier_price)</th>
                            <th>kWh price day to buy <br>(supplier_price_day)</th>
                            <th>kWh price night to buy <br>(supplier_price_night)</th>
                            <th>kWh price to sell</th>
                            <th>YOUR PV kW at ESO</th>
                            <th>Edit PK</th>
                            <th>Delete PK</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in object_list %}
                        <tr>
                            <td class="text-nowrap">{{form.date | date:'Y-m-d'}}</td>
                            <td class="text-nowrap">{{form.price_kwh}} €</td>
                            <td class="text-nowrap">{{form.price_kw}} €</td>
                            <td class="text-nowrap">{{form.price_percent}}%</td>
                            <td class="text-nowrap">{{form.supplier_price}} €</td>
                            <td class="text-nowrap">{{form.supplier_price_day}} €</td>
                            <td class="text-nowrap">{{form.supplier_price_night}} €</td>
                            <td class="text-nowrap">{{form.sell_price}} €</td>
                            <td class="text-nowrap">{{form.plant_power}} kW</td>
                            <td><a href="{% url 'update_main_prices' form.id %}#start" class="btn btn-primary">Edit {{form.id}}</a></td>
                            <td>
                            <form action="{% url 'delete_main_price' form.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Delete" />
                            </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col mb-3 mt-3">
                    <a class="btn btn-info" href="{% url 'index' %}#start">Back</a>
                </div>
        </div>
    </div>
</section>
{% endblock %}






